<div class="modal fade" id="loginForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="mb-3 ps-4 pe-4 pt-4">
          <label for="login-email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="login-email">
        </div>
        <div class="mb-3 ps-4 pe-4 pb-4">
          <label for="login-password" class="form-label">Password</label>
          <input type="password" class="form-control" name="login-password">
        </div>
        <div class="text-center pb-5">
          <button type="submit">LOGIN</button>
        </div>
      </form>
    </div>
  </div>
</div>