<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4">
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
  </section>

  <section class="">
    <h3 class="text-center">Creed Thoughts - Creed Bratton</h3>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem"></i>Creed Thoughts - Creed Bratton
          </h6>
          <p>
            Creed Thoughts is a blog originally created by Ryan Howard. At that
            time, it was merely a Word document with a fake web address at the
            top. But now, a full stack software engineer was hired to manage and
            maintain the new site.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Skills</h6>
          <p>HTML, CSS, & JavaScript</p>
          <p>Express, MongoDB, Mongoose, EJS</p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a href="/contact" class="text-reset">Contact Me</a>
          </p>
          <p>
            <a href="/" class="text-reset">About Me</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4 ps-3">Contact</h6>
          <p></i>Dunder Mifflin</p>
          <p>Pennsylvania, PA 18447, US</p>
          <p>
            Son.Davidkh@gmail.com
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4 copyright">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="#"> Creed Thoughts - Creed Bratton </a>
  </div>
</footer>
