<div class="modal fade" id="signupForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/signup" method="POST">
        <div class="row ps-4 pe-4 pt-4">
          <div class="col">
            <label for="signupFirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" name="signupFirstName">
          </div>
          <div class="col">
            <label for="signupLastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="signupLastName">
          </div>
        </div>
        <div class="mb-3 ps-4 pe-4 pt-4">
          <label for="signupEmail" class="form-label">Email address</label>
          <input type="email" class="form-control" name="signupEmail">
        </div>
        <div class="mb-3 ps-4 pe-4 pb-4">
          <label for="signupPassword" class="form-label">Password</label>
          <input type="password" class="form-control" name="signupPassword">
        </div>
        <div class="text-center pb-5">
          <button type="submit">SIGN UP</button>
        </div>
      </form>
    </div>
  </div>
</div>