* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 4.5vw;
}
h2 {
  font-size: 2rem;
  color: #3282B8;
  height: 0.07rem;
}
h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  /* color: #3282B8; */
}
h4 {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  word-spacing: 0.4vw;
}
h6 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #0F4C75;
}
p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
}
button {
  background: #0F4C75;
  border-style: none;
  padding: 0.7rem 1.3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}
hr {
  /* background: #BBE1FA;
  color: #BBE1FA; */
  height: 0.7rem;
}
body {
  font-family: "Open Sans", sans-serif;
  border: 1px solid red;
  width: 1920px;
}

nav {
  background-color: #3282B8;
}
.eff::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #0F4C75;
  transition: width 0.3s;
}
.eff:hover::after {
  width: 60%;
  height: 2px;
  height: 2px;
  background: #0F4C75;
  transition: width 0.3s;
  border-bottom:2px solid #0F4C75;
}


header {
  background-color: #a9a9a9;
  height: 70%;
  height: 756px;
}
.header-img {
  border-radius: 50%;
}

.featured .row .one {
  height: 300px;
}
.featured .row .one img {
  width: 100%;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  object-fit: cover;
}
.featured .row .one .text {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 150px;
}
.featured .row .one .text p {
  letter-spacing: 0.2rem;
  line-height: 2px;
}
.featured .row .one .text a {
  text-decoration: none;
  border-style: none;
  color: #fff;
  font-size: 0.9rem;
}
.featured .row .one .text a::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background: #0F4C75;
}

.subscription {
  background-color: #3282B8;
}
.subscription div .sub input {
  outline: none;
  border: 1px solid #0F4C75;
}

.blog .row .post a {
  font-size: 0.9rem;
  color: #3282B8;
  font-weight: bold;
  text-decoration: none;
  border-style: none;
}

.blog .row .sidebar .side2 .row .sidetext h4 {
  font-size: 1rem;
}
.blog .row .sidebar .side2 .row .sidetext a {
  text-decoration: none;
  border-style: none;
  color: #3282B8;
  font-size: 0.8rem;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.05);
}